.btn {
  cursor: pointer;
  border-radius: 100%;
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #111;
  color: #fff;
  font-size: 2.2rem;
  transition: all 0.2s;
  box-shadow: 0px 4px 32px rgba(134, 134, 134, 0.56);
}

.btn:hover {
  scale: 1.05;
}

.btn:active {
  scale: 0.95;
}

@media (max-width: 768px) {
  .btn {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.6rem;
  }
}

/* @media (max-width: 520px) {
  .btnBackward {
    display: none;
  }
} */
