.carousel {
  margin: 3rem 0;
  height: 85vh;
  position: relative;
  overflow: hidden;
}

.carouselItem {
  border-radius: 2rem;
  border: 4px solid #ccc;
  font-size: 3.2rem;
  width: 65%;
  position: absolute;
  z-index: 5;
}



.carouselItem:not(.carouselItemLeft, .carouselItemRight, .carouselItemCenter, .animationCenterToLeft, .animationRightToCenter, .animationLeftToCenter, .animationCenterToRight) {
  display: none;
}

.carouselItemCenter {
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
}


.carouselItemLeft {
  left: -53vw;
  top: 50%;
  translate: 0 -50%;
  height: 85%;
  animation: delayLoadPseudoItem 1s linear forwards;
}

.carouselItemRight {
  right: -53vw;
  top: 50%;
  translate: 0 -50%;
  height: 85%;
  animation: delayLoadPseudoItem 1s linear forwards;
}

.carouselItem:nth-child(4n+1) {
  background-color: yellow;
}

.carouselItem:nth-child(4n+2) {
  background-color: aqua;
}

.carouselItem:nth-child(4n+3) {
  background-color: green;
}

.carouselItem:nth-child(4n+4) {
  background-color: bisque;
}


.animationCenterToLeft {
  animation: centerToLeft 1s ease-in-out forwards;
}

.animationCenterToRight {
  animation: centerToRight 1s ease-in-out forwards;
}


.animationRightToCenter {
  animation: rightToCenter 1s ease-in-out forwards;
}

.animationLeftToCenter {
  animation: leftToCenter 1s ease-in-out forwards;
}

@keyframes delayLoadPseudoItem {
  from {
    opacity: 0;
  }

  to {
    opacity: .75;
  }
}


@keyframes centerToLeft {
  from {
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 1;
  }

  to {
    opacity: 0;
    left: -53vw;
    top: 50%;
    translate: 0 -50%;
    height: 85%;
  }
}

@keyframes centerToRight {
  from {
    opacity: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
  }

  to {
    opacity: 0;
    right: -53vw;
    top: 50%;
    translate: 0 -50%;
    height: 85%;
  }
}

@keyframes rightToCenter {
  from {
    opacity: 0;
    right: -53vw;
    top: 50%;
    translate: 0 -50%;
    height: 85%;
  }

  to {
    opacity: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
  }
}


@keyframes leftToCenter {
  from {
    opacity: 0;
    left: -53vw;
    top: 50%;
    translate: 0 -50%;
    height: 85%;
    width: 50vw;
  }

  to {
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 1;
  }
}



/* Carousel Button Container */

.carouselBtnContainer {
  width: 100%;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
}


@media (max-width:425px) {
  .carouselItem {
    width: 100vw;
  }

  .carouselItemLeft,
  .carouselItemRight {
    display: none;
  }

  .carouselBtnContainer {
    padding: 0 4%;
  }
}