.carouselIndicator {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 0 1rem;
}

.carouselIndicator div {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #aaa;
  transition: all 0.3s;
}

.carouselIndicator div.active {
  scale: 1.33;
  background-color: #fff;
}
