.carousel {
  margin: 3rem 0;
  height: 85vh;
  position: relative;
  overflow: hidden;
}

.carouselItem {
  border-radius: 2rem;
  border: 4px solid #ccc;
  font-size: 3.2rem;
  width: 65%;
  position: absolute;
  z-index: 5;
}

.carouselItem:not(
    .carouselItemLeft,
    .carouselItemRight,
    .carouselItemCenter,
    .animationCenterToLeft,
    .animationRightToCenter,
    .animationLeftToCenter,
    .animationCenterToRight
  ) {
  display: none;
}

.carouselItemCenter {
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
}

.carouselItemLeft {
  left: -53vw;
  top: 50%;
  translate: 0 -50%;
  height: 85%;
  animation: delayLoadPseudoItem 1s linear forwards;
}

.carouselItemRight {
  right: -53vw;
  top: 50%;
  translate: 0 -50%;
  height: 85%;
  animation: delayLoadPseudoItem 1s linear forwards;
}

.carouselItem:nth-child(4n + 1) {
  background-color: yellow;
}

.carouselItem:nth-child(4n + 2) {
  background-color: aqua;
}

.carouselItem:nth-child(4n + 3) {
  background-color: green;
}

.carouselItem:nth-child(4n + 4) {
  background-color: bisque;
}
/* 
.carouselItem:nth-child(4n + 5) {
  background-color: orange;
}

.carouselItem:nth-child(4n + 6) {
  background-color: red;
}

.carouselItem:nth-child(4n + 7) {
  background-color: blueviolet;
}

.carouselItem:nth-child(4n + 8) {
  background-color: powderblue;
} */

.animationCenterToLeft {
  animation: centerToLeft 0.5s ease-in-out forwards;
}

.animationCenterToRight {
  animation: centerToRight 0.5s ease-in-out forwards;
}

.animationRightToCenter {
  animation: rightToCenter 0.5s ease-in-out forwards;
}

.animationLeftToCenter {
  animation: leftToCenter 0.5s ease-in-out forwards;
}

/* @keyframes delayLoadPseudoItem {
  from {
    opacity: 0;
  }

  to {
    opacity: .75;
  }
} */

@keyframes centerToLeft {
  from {
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 1;
  }

  80% {
    opacity: 0.75;
    z-index: 10;
  }

  100% {
    opacity: 0;
    left: -53vw;
    top: 50%;
    translate: 0 -50%;
    height: 85%;
    z-index: 10;
  }
}

@keyframes centerToRight {
  from {
    opacity: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
  }

  80% {
    opacity: 0.75;
    z-index: 10;
  }
  to {
    opacity: 0;
    right: -53vw;
    top: 50%;
    translate: 0 -50%;
    height: 85%;
    z-index: 10;
  }
}

@keyframes rightToCenter {
  from {
    opacity: 0;
    right: -53vw;
    top: 50%;
    translate: 0 -50%;
    height: 85%;
  }

  to {
    opacity: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
  }
}

@keyframes leftToCenter {
  from {
    opacity: 0;
    left: -53vw;
    top: 50%;
    translate: 0 -50%;
    height: 85%;
    width: 50vw;
  }

  to {
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 1;
  }
}

/* Carousel Button Container */

.carouselBtnContainer {
  width: 100%;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
}

@media (max-width: 768px) {
  .carouselItem {
    width: 100vw;
  }

  .carouselItemLeft,
  .carouselItemRight {
    display: none;
  }

  .carouselBtnContainer {
    padding: 0 2%;
  }
}
